:root {
  --pink: #f14e95;
  --bg: #0a0a0a;
  --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

body {
  font-size: 1.2rem;
  font-family: "Work Sans", sans-serif;
  min-height: 2000px;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/11.jpeg);
  background-size: cover;
  background-position: center 20%;
  background-color: white;
  z-index: -1;
}

.hero {
  position: relative;
  min-height: 100vh;
}

.hero h1,
.hero h4,
.hero p {
  text-shadow: var(--shadow);
  
}

.hero h1 {
  font-family: "Kaushan Script";
  font-size: 6rem;
  color:white  ;
}

.hero h4 {
  font-size: 1.4rem;
  color: white;
}

.hero p {
  font-size: 1.4rem;
  color: white;
}

.hero a {
  color: var(--pink);
  background-color: white;
  box-shadow: var(--shadow);
}

.hero a:hover {
  background-color: var(--pink);
  color: white;
}

.hero main {
  margin-top: 200px;
}

.mynavbar {
  background-color: rgba(255, 255, 255, 0.3) !important;
  backdrop-filter: blur(4px);
  z-index: 9999;
}

.mynavbar .offcanvas {
  height: 100vh;
}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
  font-family: "Kaushan Script";
  font-size: 3.2rem;
  font-weight: bold;
}

.mynavbar .nav-link {
  text-transform: uppercase;
}

.home {
  background-image: url(img/floral.jpg);
  background-size: cover;
  min-height: 100vh;
  margin-top: -6rem;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.home h2,
.gallery h2,
.rsvp h2 {
  color: var(--pink);
  font-family: "Kaushan Script";
  font-size: 5rem;
  font-weight: bold;
}

.home h3 {
  color: #444;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.home p {
  font-size: 1.1rem;
  color: var(--bg);
}

.home .couple {
  margin-top: 100px;
}

.home .couple h3 {
  font-family: "Kaushan Script";
  color: var(--pink);
  font-size: 3rem;
  font-weight:bold;
}

.home .couple img {
  width: 100%;
}

.info {
  background-color: var(--bg);
  color: white;
  padding-top: 10rem;
  padding-bottom: 8rem;
}

.info h2 {
  color: var(--pink);
  font-family: "Kaushan Script";
  font-size: 5rem;
  font-weight: bold;
}

.info .alamat {
  font-size: 1.1rem;
}

.info .description {
  font-size: 1rem;
  font-weight: 300;
}

.info .card {
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: white !important;
  border: 1px solid #999;
}

.info .card-header {
  border-bottom: 1px solid #999;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.info .card-body {
  font-size: 1rem;
}

.info .card-footer {
  border-bottom: 1px solid #999;
  font-size: 0.9rem;
  font-weight: 300;
}

.gallery,
.rsvp {
  padding-top: 10rem;
  padding-bottom: 8rem;
}

.gallery span {
  text-transform: uppercase;
  color: #666;
  font-size: 0.9rem;
  letter-spacing: 1px;
  display: block;
}

.gallery p,
.rsvp p {
  font-size: 1rem;
  font-weight: 300;
}

.rsvp {
  background-color: var(--bg);
}

.rsvp h2 {
  font-size: 4.5rem;
}

.rsvp p {
  color: white;
}

.rsvp form label {
  color: white;
}

.rsvp button {
  background-color: var(--pink);
  color: white;
  border: 1px solid var(--pink);

}
.rsvp button:hover {
  background-color: white;
  color: var(--pink);
  border: 1px solid white;

}

footer {
  padding: 3rem;
  background-color: var(--pink);
  color: white;
}

footer a {
  color: var(--bg);
  font-weight: bold;
  text-decoration: none;
}

.audio-icon-wrapper {
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  position: fixed;
  bottom: 2.5rem;
  right: 2rem;
  cursor: pointer;
  color: white;
  opacity: 0.5;
  mix-blend-mode: difference;
  animation: mutar 4s linear infinite;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}

@keyframes mutar {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Media Query */
/* laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }
  .mynavbar .nav-link {
    font-size: 2rem;
    text-align: center;
  }

}
/* mobile phone */
@media (max-width: 576px) {
  html {
    font-size: 60%;
  }
}